@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-header: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
    --color-bg: #121212; /*(Deep charcoal background)*/
    --color-card: #1e1e1e; /*(Elevated dark slate surface for cards/forms)*/
    --color-primary: #f4f1ea; /*(Soft cream white for main headers and title text)*/
    --color-text-main: #e0dcd3; /*(Warm light gray for readable paragraph/body text)*/
    --color-text-muted: #a09c94; /*(Taupe gray for secondary descriptions and subtitles)*/
    --color-accent: #d4af37; /*(Warm muted gold for prices, active nav links, and buttons)*/
    --color-border: #2c2c2c; /*(Subtle dark gray border to separate cards/containers)*/
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    color: var(--color-text-main);
    background-color: var(--color-bg);
}

h1, h2, h3 {
    font-family: var(--font-header);
    color: var(--color-primary);
}

/* Image reset  */
img {
    max-width: 100%;
    display: block;
}

header {
    background-color: var(--color-card);
    border-bottom: 2px solid var(--color-border);
    padding: 1.5rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav button {
    /* Reset Brwoser Button Styling */
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;

    font-family: var(--font-body);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--color-text-muted);
    cursor: pointer;
    padding: 0.5rem 0.25rem;
    transition: color 0.8s ease, border-color 0.8s ease;
}

nav button:hover,
nav button.active {
    color: var(--color-accent);
    border-bottom-color: var(--color-accent);
}